body {
	background-color: aqua;
	}
	
h1 {
	color: darkolivegreen;
	text-align: center;
	}
	
h2 {
	color: mediumblue;
	}
	
h3 {
	color: royalblue;
	}
	
p {
	font-family: "Times New Roman", Times, serif;
	color: cornflowerblue;
	}
	
a {
	font-family: "Times New Roman", Times, serif;
	}
	
ul {
	color: cadetblue;
	}
	
ol {
	color: cadetblue;
	}
	
li {
	color: deepskyblue;
	}