
body {
    background-color: #121212;
}

@font-face {
    font-family: Jaro;
    src: url(fonts/Jaro48pt-Regular.woff2);
}

@font-face {
    font-family: OMORI;
    src: url(fonts/OMORI_GAME2.ttf);

}

.header h1,.header a {
    font-size: 100pt;
    font-family: Jaro;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    outline: none;
    
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-family: Jaro;
    color:aliceblue;
    font-size: 70pt;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    font-family: OMORI;
    font-size: 20pt;
    color:aliceblue;
    text-align: center;
}



.socialscontainers {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}


/*digital*/

.one {
    background-color: aliceblue;
    border-radius: 12px;
    color: #121212;
    transition-duration: 0.4s;
    padding: 16px 32px;
    font-family: OMORI;
    font-size: 20pt;
    border: none;
    
}

.one:hover{
    background-color: #121212;
    color:aliceblue;
}

/*traditional*/

.two {
    background-color: aliceblue;
    border-radius: 12px;
    color: #121212;
    transition-duration: 0.4s;
    padding: 16px 32px;
    font-family: OMORI;
    font-size: 20pt;
    border: none;
}

.two:hover{
    background-color: #121212;
    color:aliceblue;
}

/*graphic deisgn*/

.three {
    background-color: aliceblue;
    border-radius: 12px;
    color: #121212;
    transition-duration: 0.4s;
    padding: 16px 32px;
    font-family: OMORI;
    font-size: 20pt;
    border: none;
}

.three:hover{
    background-color: #121212;
    color:aliceblue;
}

.four {
    background-color: aliceblue;
    border-radius: 12px;
    color: #121212;
    transition-duration: 0.4s;
    padding: 16px 32px;
    font-family: OMORI;
    font-size: 20pt;
    border: none;
}

.four:hover{
    background-color: #121212;
    color:aliceblue;
}

.five {
    background-color: aliceblue;
    border-radius: 12px;
    color: #121212;
    transition-duration: 0.4s;
    padding: 16px 32px;
    font-family: OMORI;
    font-size: 20pt;
    border: none;
}

.five:hover{
    background-color: #121212;
    color:aliceblue;
}

.about {
    background-color: aliceblue;
    border-radius: 12px;
    color: #121212;
    transition-duration: 0.4s;
    padding: 16px 32px;
    font-family: OMORI;
    border: none;
}

.about:hover{
    background-color: #121212;
    color:aliceblue;
}


.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.gambarjaki {

    margin-left: 10px;
}


/*aboutme text*/

.about_text {
    font-size: 20pt;
    text-align: left;
    overflow-wrap: break-word;
    hyphens: manual;
    margin-top: -150;
}

/*his socials*/

.sosialmed {
    font-size: 15pt;
    text-decoration-color: aliceblue;
}

.sosialmed a:visited {
    text-decoration-color: aliceblue;
}

.social{
    font-size: 50pt;
    padding-top: 10%;
    padding-bottom: 10%;

}

.container1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}


.mymusic {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 50pt;
}

.headerabout {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 70pt;
}

.menu1 {
    text-align: left;
    font-size: 14pt;
    margin-bottom: 5px;
}

.navbar {
    background-color: aliceblue;
    width: 800px;
    height: 50px;
    border-radius: 16px;
}

.navbar img.activenav {
    width: 30px;
    height: 30px;
}

.navbar a.activenav {
    background-color: #121212;
}

.navbar a {
    font-family: OMORI;
    font-size: 20pt;
    padding: 14px 16px;
    text-decoration: none;
    color: #121212;
    transition-duration: 0.6s;
}

.navbar a:visited {
    color: #121212;
}

.navbar a:hover {
    background-color: #121212;
    color: aliceblue;
    
}

.activenav a:hover {
    fill: aliceblue;
}

img.gambarjaki {
    border-radius: 12px;
}

.baris {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}


.kolom {
    flex: 50%;
    padding: 0 4px;
}

.kolom img {
    border-radius: 16px;
    margin-top: 10px;
    margin-right: 5px;
    vertical-align: middle;
    flex: 50%;
    width: auto;
    height: 500px;
    transition-duration: 0.5s;
}

.kolom img:hover {
    opacity: 50%;
    cursor: pointer;
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.whowho img {
    border-radius: 16px;
    height: 500px;
    width: auto;
}

.whowho {
    margin-left: 20px;
}

#hello {
    text-align: left;
}

#iam {
    text-align: left;
}

.buka {
    margin-left: 50px;
    margin-top: -50px;
}

/*modal dikit dnk!*/
/*hdjhsvfjhdsvjhdhsdjhvbjhdsvb*/

/*Digital Art Section*/

/*AAAAAARGHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH USER AGENNT STYLESHEET ANJENG!*/
img#selfport {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#spcbi {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#strboenstr0 {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#strboenstr01 {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#untitledsomething {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#oc_toby {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#untitled189{
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#untitled190 {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}





/*self prtrait*/ 
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex: none;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content1 {
    margin: auto;
    display: block;
    width: 80%;
    height: 100%;
    max-width: 700px;
}

#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
    font-size: 25px;
    margin-top: 10px;
}



.modal-content1, #caption1 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close1:hover,
.close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*spcbi*/
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
    font-size: 25px;
    margin-top: 10px;

}

.modal-content2, #caption2 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}






/*strboenstr0*/
.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
    font-size: 25px;
    margin-top: 10px;

}

.modal-content3, #caption3 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close3:hover,
.close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}




/*strboenstr01*/
.modal4 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content4, #caption4 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close4 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close4:hover,
.close4:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*untitledsomething*/
.modal5 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content5, #caption5 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close5 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close5:hover,
.close5:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}




/*oc_toby*/
.modal6 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content6, #caption6 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close6 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close6:hover,
.close6:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}





/*untitled189*/
.modal7 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content7 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption7 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content7, #caption7 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close7 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close7:hover,
.close7:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}






/*untitled_02*/
.modal8 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content8, #caption8 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close8 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close8:hover,
.close8:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/*Digital Art Section END*/

/*Traditional Art Section*/

img#opn {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}
/*-------------------------------*/

.modalB1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-contentB1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#captionB1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-contentB1, #captionB1 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.closeB1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeB1:hover,
.closeB1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

