img#selfport {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#spcbi {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#strboenstr0 {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#strboenstr1 {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#untitledsomething {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#oc_toby {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#untitled_01{
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

img#untitled_02 {
    margin: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}





/*self prtrait*/ 
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex: none;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content1 {
    margin: auto;
    display: block;
    width: 80%;
    height: 100%;
    max-width: 700px;
}

#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content1, #caption1 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close1:hover,
.close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*spcbi*/
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content2, #caption2 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}






/*strboenstr0*/
.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content3, #caption3 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close3:hover,
.close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}




/*strboenstr01*/
.modal4 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content4, #caption4 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close4 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close4:hover,
.close4:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*untitledsomething*/
.modal5 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content5, #caption5 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close5 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close5:hover,
.close5:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}




/*oc_toby*/
.modal6 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content6, #caption6 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close6 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close6:hover,
.close6:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}





/*untitled_01*/
.modal7 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content7 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption7 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content7, #caption7 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close7 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close7:hover,
.close7:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}






/*untitled_02*/
.modal8 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: OMORI;
}

.modal-content8, #caption8 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*KEYFRAMES FOR ZOOMING*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close8 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close8:hover,
.close8:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.kolom {
    flex: 50%;
    padding: 0 4px;
}

.kolom img {
    border-radius: 16px;
    margin-top: 10px;
    margin-right: 5px;
    vertical-align: middle;
    flex: 50%;
    width: auto;
    height: 500px;
    transition-duration: 0.5s;
}

.baris {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}
